[submodule "testiomonial-card"]
	path = testiomonial-card
	url = https://github.com/andrewsnapz/testiomonial-card
[submodule "collections-grid"]
	path = collections-grid
	url = https://github.com/andrewsnapz/collections-grid.git
