[submodule "testiomonial-card"]
	path = testiomonial-card
	url = https://github.com/andrewsnapz/testiomonial-card
[submodule "collections-grid"]
	path = collections-grid
	url = https://github.com/andrewsnapz/collections-grid
[submodule "greatfrontend-library-button"]
	path = greatfrontend-library-button
	url = https://github.com/andrewsnapz/greatfrontend-library-button.git
[submodule "notifications-settings-angular"]
	path = notifications-settings-angular
	url = https://github.com/andrewsnapz/notifications-settings-angular
